@font-face{
    font-family: 'roboto';
    src: url('gllacy/fonts/web/roboto.woff') format(woff),
         url('gllacy/fonts/web/roboto.woff2') format(woff2),
         url('gllacy/fonts/web/robotobold.woff') format(woff),
         url('gllacy/fonts/web/robotobold.woff2') format(woff2),
         url('gllacy/fonts/web/robotomedium.woff') format(woff),
         url('gllacy/fonts/web/robotomedium.woff2') format(woff2);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'roboto';
    src: url('gllacy/fonts/web/robotobold.woff') format(woff),
         url('gllacy/fonts/web/robotobold.woff2') format(woff2);
    font-weight: bold;
    font-style: normal;
}

button, 
button:active, 
button:focus {
    outline: none;
}

body{
    margin: 0;
    padding: 0;
    font-family: "roboto";
    font-size: 16px;
    line-height: 22px;
    background-color: #849d8f;
    color: #fff;
    background-image: url(gllacy/png/Ice-cream2.png);
    background-repeat: no-repeat;
    background-position: top center;
    outline: none;
}

.radio1{
    transition: 0.2s;
    background-color: #849d8f;
    background-image: url(gllacy/png/Ice-cream2.png);
    background-repeat: no-repeat;
    background-position: top center;
}

.radio2{
    transition: 0.2s;
    background-color: #8996a6;
    background-image: url(gllacy/png/Ice-cream.png);
    background-repeat: no-repeat;
    background-position: top center;
}

.radio3{
    transition: 0.2s;
    background-color: #9d8b84;
    background-image: url(gllacy/png/Ice-cream3.png);
    background-repeat: no-repeat;
    background-position: top center;
}

.button{
    align-items: center;
    background: linear-gradient(#f26843, #e74b36);
    border-radius: 35px;
    box-shadow: 0 2px 2px #ad2d20;
    text-decoration: none;
    transition: 0.2s;
}

.button:not(:hover){
    transition: 0.2s;
}

.button:hover{
    background: linear-gradient(#f58669, #ec6f5e);
    text-shadow: 0px 2px 5px #ac1000;
}

.button:focus{
    background: linear-gradient(#d74632, #e1613e);
    text-shadow: 0px 2px 5px #ac1000;
    box-shadow: 0 2px 2px #ad2d20 inset;
}

.visually-hidden{
    display: none;
}

.main-navigation {
    font-size: 16px;
    line-height: 18px;
    color: #fff;

}

.container{
    width: 1146px;
    margin: 0 auto;
    padding: 0;
}

.main-nav{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.header-logo{
    width: 175px;
    height: 75px;
    padding-top: 10px;
}

.site-navigation {
    list-style: none;
    font-weight: bold;
    width: 725px;
    height: 75px;
    margin-bottom: 0;
    display: flex;
}

.item-site-navigation{
    padding-right: 25px;
    margin-top: 10px;
}

.catalog-site-navigation{
    padding-right: 25px;
    margin-top: 10px;
}

.catalog-selector{
    position: absolute;
    width: 145px;
    margin: 15px 0 0 -20px;
    padding: 0px;
    height: 167px;
    list-style: none;
    text-decoration: none;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 20px 20px 0 rgba(0,0,0,0.4);
}

.catalog-selector a{
    text-decoration: none;
    font-size: 14px;
    line-height: 29px;
    font-weight: normal;
}

.site-navigation a{
    color: #fff;
}

.novelties{
    height: 30px;
    margin: 5px 0 10px 0;
    padding: 0 0 0 21px;
}

.novelties a{
    color: #323232;
    font-weight: bold;
}

.novelties:hover{
    background-color: #fbded8;
}

hr{
    margin: 5px 5px 5px -12px;
    padding: 0px;
    width: 125px;
    border: none; 
    background-color: #d1d0ce; 
    color: #d1d0ce; 
    height: 1px; 
}

.catalog-items{
    padding-left: 21px;
}

.catalog-items a{
    color: #323232;
}

.catalog-items:hover{
    background-color: #fbded8;
}

.catalog-blo{
    position: absolute;
    width: 60px;
    margin: 0 0 0 0;
    padding: 0px 0 0 0;
    height: 15px;
}

.catalog-block:hover .hidden-button{
    display: block;
}

.catalog-button:hover{
    text-decoration: none;
    height: 32px;
    border-radius: 20px;
    background-color: #fff;
    color: #000;
    margin: 0 -14px 0 -14px;
    padding: 6px 14px 8px 14px;
    transition: 0.2s;
}

.catalog-button:not(:hover),
.search-button:not(:hover),
.login-icon:not(:hover){
    transition: 0.2s;
}

.user-navigation button{
    color: #fff;
    background-color: rgba(255,255,255,0.2);
}

.item-site-navigation a:hover,
.item-site-navigation a:focus{
    text-decoration: none;
    height: 32px;
    border-radius: 20px;
    background-color: #fff;
    color: #000;
    margin: 0 -14px 0 -14px;
    padding: 6px 14px 8px 14px;
    transition: 0.2s;
}

.item-site-navigation a:not(:hover){
    transition: 0.2s;
}
.search-button{
    background-image: url(gllacy/png/search-icon.png);
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 0px;
    width: 34px;
    height: 34px;
    border: none;
    border-radius: 50%;
    margin-right: 10px;
}

.search-modal{
    position: absolute;
    width: 340px;
    height: 85px;
    margin-left: -280px;
    margin-top: 15px;
    background-color: #f8f7f4;
    box-shadow: 0 20px 20px 0 rgba(0,0,0,0.4);
    border-radius: 5px;
}

.input-line{
    height: 45px;
    width: 310px;
    margin-top: 20px;
    font-weight: normal;
    border: 1px solid #d3d3d2;
    color: #b8b8b8;
    border-radius: 8px;
    text-align: 10px;
    padding-left: 15px;
    border-radius: 5px;
    box-shadow: none;
}

.search-blo{
    position: absolute;
    width: 60px;
    margin: 10px 0 0 -35px;
    padding: 0px 0 0 0;
    height: 25px;
}

.input-line:hover{
    margin: 20px 0px 0 -2px;
    border: 3px solid #c7c6c5;
}

.input-line:focus{
    margin: 20px 0px 0 -2px;
    border: 3px solid rgba(46, 136, 228, 0.52);
    outline: inherit;
}

.search-modal ::placeholder{
    color: #c7c6c5;
    font-weight: normal;
}

.search-button:hover .hidden-button{
    display: block;
}

.login-icon:hover .hidden-button{
    display: block;
}

.login-icon{
    background-image: url(gllacy/png/login-icon.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 95px;
    height: 34px;
    border: none;
    border-radius: 20px;
    margin-right: 10px;
}

.login-modal{
    position: absolute;
    width: 280px;
    height: 215px;
    margin: 15px 0 0 -190px;
    padding: 0px;
    position: absolute;
    background-color: #f8f7f4;
    box-shadow: 0 20px 20px 0 rgba(0,0,0,0.4);
    border-radius: 5px;
}

.login-modal input{
    width: 220px;
    color: #999999;
}

.login-modal input:hover{
    margin-top: 18px;
    margin-bottom: -2px;
    margin-left: 1px;
}
.login-modal input:focus{
    margin-top: 18px;
    margin-bottom: -2px;
    margin-left: 1px;
}

.login-modal ::placeholder{
    color: #c7c6c5;
    font-weight: normal;
}

.login-button{
    width: 100px;
    height: 45px;
    padding: 10px 25px 13px 25px;
    margin-left: -130px;
    border-radius: 25px;
    font-weight: bold;
    font-size: 18px;
}

.login-modal-items{
    width: 240px;
    height: 45px;
    margin: 25px 0 0 20px;
}

.login-modal-links{
    padding-left: 90px;
    text-align: left;
    line-height: 20px;
    flex-direction: column;
    margin: -30px 0 0 30px;
}

.login-modal-links a{
    color: #7c7c7c;
    font-size: 13px;
    text-decoration: underline;
}

.login-modal-links a:hover{
    color: #f58669;
}

.login-blo{
    position: absolute;
    width: 80px;
    margin: 10px 0 0 -10px;
    padding: 0px 0 0 0;
    height: 25px;
}

.shopping-cart{
    background-image: url(gllacy/png/shopping-cart.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100px;
    height: 34px;
    border: none;
    border-radius: 20px;
}

.user-navigation{
    list-style: none;
    font-weight: normal;
    width: 245px;
    height: 75px;
    margin-bottom: 0;
    padding-bottom: 0;
    display: flex;
}

.search-button:hover,
.search-button:focus{
    background-image: url(gllacy/png/search-icon-black.png);
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.2s;
}

.login-icon:hover,
.login-icon:focus{
    background-image: url(gllacy/png/login-icon-black.png);
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.2s;
    
}

.shopping-cart:hover,
.shopping-cart:focus{
    background-image: url(gllacy/png/shopping-cart-black.png);
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
}

.contacts{
    width: 170px;
    margin-top: -30px;
    margin-left: auto;
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
    text-align: right;
    line-height: 25px;
    
}
.work-time{
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}
.tel-number{
    font-size: 22px;
    line-height: 24px;
    margin: 0;
    padding: 0;
}

.best-offers{
    margin-top: 285px;
    padding: 0;
}

.best-offers p, a{
    text-align: center;
    color: #fff;
}
    
.best-offers p{
    font-size: 60px;
    line-height: 60px;
    font-weight: bold;
    margin-bottom: 40px;
}

.ice-cream-selector{
    display: flex;
    margin-bottom: 40px;
}



.dotes{
    margin-right: 355px;
    margin-top: 20px;
    padding: 0px;
    height: 10px;
    width: 60px;
    list-style: none;
    order: -1;
    display: flex;
    justify-content: space-between;
}

input[type=radio] {
    display: none;
}

.dote{
    padding: 0px;
    margin-top: -15px;
}

.dote label{
    display: inline-block;
        cursor: pointer;
        
}

.dote label:before{
    content:"";
    width: 17px;
    height: 17px;
    border: 2px solid #fff;
    border-radius: 50%;
    position: absolute;
}

.dotes input[type=radio]:checked + label:before{
    background: white;
}


.dote input[type=radio]:hover + label:before{
    background-color: rgba(255,255,255,0.4);
}

.give-both-button{
    font-size: 32px;
    font-weight: bold;
    width: 280px;
    padding-top: 18px;
    padding-bottom: 22px;
}

.promo{
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    display: flex;
}

.promo h3{
    margin: 25px 0px 25px 20px;
    padding: 0px;
    font-size: 35px;
    font-weight: bold;
    
}

.promo p{
    margin: 0px 0px 50px 20px;
    padding: 0px;
}

.rusberry-cell{
    background-color: #cc2a4f;
    width: 560px;
    height: 230px;
    margin-right: 25px;
    background-image: url(gllacy/png/rusberry.png);
    border-radius: 15px;
}

.rusberry-button{
    font-size: 18px;
    font-weight: bold;
    width: 165px;
    padding-top: 15px;
    padding-bottom: 18px;
    padding-left: 22px;
    padding-right: 22px;
    margin-left: 375px;
}

.chocolate-button{
    font-size: 18px;
    font-weight: bold;
    width: 165px;
    padding-top: 15px;
    padding-bottom: 18px;
    padding-left: 22px;
    padding-right: 22px;
    margin-left: 350px;
}

.chocolate-cell{
    background-color: #734a2e;
    width: 560px;
    height: 230px;
    background-image: url(gllacy/png/chocolate.png);
    border-radius: 15px;
}

.hits{
    list-style: none;
    font-size: 16px;
    line-height: 22px;
    font-weight: normal;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-top: 40px;
    margin-bottom: 40px;
}

#hit-png, #hit-a{position: relative;}

#hit-png{
    z-index: 2;
}

#hit-a{
    z-index: 1;
}

.hit-accommodation{
    margin-top: -67px;
}

.hits a{
    text-align: center;
    display: block;
}

.hits p{
    font-size: 45px;
    line-height: 45px;
    font-weight: bold;
}

.hit{
    position: relative;
    width: 267px;
    height: 322px;
}

.hit:hover{
    background-color: rgba(255,255,255,0.2);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    margin-left: -14px;
    margin-right: -14px;
    padding-right: 14px;
    padding-left: 14px;
    padding: 6px 14px 0 14px;
    height: 405px;
    border-radius: 5px;
    transition: 0.2s;
}

.hit:not(:hover){
    transition: 1.5s;
    transition-timing-function: cubic-bezier;
}

.hit:hover .hidden-button{
    display: block;
}

.round{
    border-radius: 50%;
}

.price{
    margin-bottom: 30px;
}

.price b{
    font-size: 32px;
}

.price-content{
    margin-top: -116px;
}

.hidden-button{
    position: absolute;
    display: none;
}

.view-button{
    font-size: 18px;
    font-weight: bold;
    width: 200px;
    margin-top: 11px;
    padding-top: 13px;
    padding-bottom: 17px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: 18px;
    border-radius: 25px;
}

.advantages{
    background-color: #f2e8d2;
    background-image: url(gllacy/png/waffle.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 1146px;
    height: 310px;
    margin-bottom: 40px;
    border-radius: 15px;
}

.advantages h3{
    color: #323232;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    padding-top: 30px;
    padding-left: 20px;
    margin: 0px;
    
}

.columns-advantages{
    width: 540px;
    height: 185px;
    list-style: none;
    color: #323232;
    margin: 0;
    padding: 10px 0 0 20px;

}

.columns-advantages p{
    font-size: 16px;
    line-height: 22px;
}
.index-columns-advantages{
    display: flex;
    margin: 0;
    padding: 0;
}

.advantages-cell{
    display: flex;
}

.advantages-cell img{
    margin-right: 7px;
}

.advantages-cell-bottom{
    margin-top: -12px;
    padding: 0px;
}

.news{
    font-size: 16px;
    line-height: 10px;
    color: #323232;
    width: 560px;
    height: 220px;
    background-color: white;
    background-image: url(gllacy/png/news-strawberry.png);
    border-radius: 15px;
    margin-right: 25px;
}

.news p{
    padding-bottom: 0px;
    padding-top: 25px;
    margin-left: 20px;
}

.news a{
    font-size: 24px;
    line-height: 30px;
    color: #323232;
}
.news-text{
    margin: 0px;
    padding: 0px;
}
.news-link{
    margin-left: 20px;
    padding-top: 0px;
    margin-top: 0px;
    width: 280px;
}

.news a :focus,
.news a:hover{
    color: #e84c36;
}

.mail{
    background-color: #f8f7f4;
    width: 560px;
    height: 220px;
    background-image: url(gllacy/png/mail.png);
    border-radius: 15px;
    font-size: 16px;
    line-height: 22px;
    color: #5a5a5a;
    background-color: #f8f7f4;
}

.mail p{
    margin-top: 0px;
    padding-top: 35px;
    padding-left: 20px;
    margin-bottom: 40px;
}

.mail form{
    padding-left: 20px;
}

.mail input{
    height: 45px;
    width: 360px;
    font-weight: bold;
    border: 1px solid #d3d3d2;
    border-radius: 8px;
    text-align: 10px;
    margin-right: 10px;
    padding-left: 15px;
    box-shadow: none;
}

.mail input:hover{
    margin: -2px 8px 0 -2px;
    border: 3px solid #c7c6c5;
}

.mail input:focus{
    margin: -2px 8px 0 -2px;
    border: 3px solid rgba(46, 136, 228, 0.52);
    outline: inherit;
}

.mail ::placeholder{
    color: #c7c6c5;
    font-weight: normal;
}
.news-mail{
    display: flex;
    margin-bottom: 40px;
}

.find-us{
    margin-bottom: 20px;
}

.find-us iframe{
    border-radius: 15px;
    margin-left: -50px;
}

.contacts-form{
    background-color: white;
    font-size: 16px;
    line-height: 22px;
    color: #323232;
    width: 300px;
    height: 300px;
    border-radius: 15px;
    margin-left: 845px;
    margin-top: -365px;
    position: absolute;
    
}

.contacts-form p{
    padding: 0;
    margin: 0;
}

.contact-button{
    color: white;
    border: none;
    font-size: 18px;
    font-weight: bold;
    padding-top: 13px;
    padding-bottom: 17px;
    padding-left: 20px;
    padding-right: 20px;
}

.address{
    padding: 20px 0 25px 30px;
}

.contacts-form strong{
    font-size: 18px;
    line-height: 24px;
}

.tel-info{
    padding: 0px 0px 20px 30px;
}

.button-contacts{
    color: white;
    border: none;
    font-size: 18px;
    font-weight: bold;
    padding-top: 13px;
    padding-bottom: 16px;
    padding-left: 28px;
    padding-right: 28px;
    margin-left: 25px;
}

.fotter-navigation{
    font-size: 13px;
    line-height: 18px;
    list-style: none;
    font-weight: normal;
    text-align: center;
}

footer{
    display: flex;
}

.social-net{
    margin-top: 0px;
    list-style: none;
    width: 185px;
    height: 40px;
    margin-right: 210px;
    margin-left: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
}

.social-icons{
    padding-top: 8px;
    width: 38px;
    height: 38px;
}

.social-icons img{
    padding: 0px;
    margin: 0px;
    border: 3px solid rgba(255,255,255,0.4);
    border-radius: 50%;
}

.social-icons :focus,
.social-icons :hover{
    transition: 0.2s;
    border-color: white;
}

.social-icons:not(:hover){
    transition: 0.2s;
}

.social-net a{
    text-decoration: none;
}

.fotter-navigation{
    margin-top: 0px;
    padding: 0px;
    padding-top: 8px;
    width: 330px;
    height: 35px;
    font-size: 13px;
    margin-right: 230px;
    margin-bottom: 40px;
    display: flex;
}

.navigation-first-collumn{
    margin-right: 32px;
    padding: 0px;
    padding-left: auto;
    text-align: left;
}

.navigation-first-collumn img{
    margin-right: 7px;
}

.navigation-second-collumn{
    text-align: left;
}

.about-manufactory{
    margin-left: 22px;
}

.developers{
   
    line-height: 2px;
    font-size: 10px;
    width: 190px;
    height: 60px;
}

.developers img{
    padding: 0px;
    margin: 0px;
}

.developers text{
    padding: 0px;
    margin: 0px;
}
.fotter-navigation a:hover,
.fotter-navigation a:focus{
    color: #ffbc9e;
}

.popup{
    animation: bounce 0.6s;
    top: 35%;
    left: 40%;
    display: block;
    position: absolute;
    background-color: #f8f7f4;
    width: 450px;
    height: 435px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 5px 25px 0 25px;
    line-height: 0px;
}

.popup p{
    color: #323232;
    font-size: 24px;
}

.close-button{
    margin-left: auto;
    margin-right: -10px;
    margin-top: 5px;
    background: none;
    background-image: url(gllacy/png/close-button.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 18px;
    height: 17px;
    border: none;
    
}

.info-section{
    margin: 0;
    padding: 0;
    display: flex;
}

.input-section{
    margin-top: -15px;
    padding: 0;
}
.popup-button{
    margin-top: 20px;
    margin-left: 307px;
    border: none;
    width: 140px;
    height: 45px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

.popup input:hover{
    margin-top: 18px;
    margin-bottom: -2px;
    margin-left: -2px;
    
}
.popup input:focus{
    margin-top: 18px;
    margin-bottom: -2px;
    margin-left: -2px;
}

.popup input::placeholder{
    color: #c7c6c5;
    font-weight: normal;
}

.input-popup{
    width: 265px;
}

.input-popup3{
    width: 430px;
    height: 155px;
}

.button-contacts:hover .hidden-button{
    display: block;
}

@keyframes bounce{
    0% {
        transform: translateY(-2000px);
    }
    70% {
        transform: translateY(30px)
    }

    90% {
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0);
    }
}

.modal-show{
    display: block;
}

.hide-animation{
    animation: hide 0.6s;
}

.close-button:hover{
    cursor: pointer;
}

.modal{
    display: none;
    position: fixed;
    transition: 0.3s;
    z-index: 3;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

/* catalog page */

.body-catalog{
    background-image: none;
}

.branch{
    list-style: none;
    width: 220px;
    font-size: 14px;
    font-weight: normal;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    margin-top: -14px;
    padding: 0;
    line-height: 0px;

}

.catalog-header{
    margin-top: 25px;
    font-size: 35px;
}

.sort{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.catalog-button-active{
    text-decoration: none;
    background-color: #d07058;
    color: #fff;
}
